each report in assignedRequirements
    tr
        td #{report.requirementname}
        td #{report.datesubmitted}
        td.remarks-cell(contenteditable="true") #{report.remarks}
        td #{report.status}


