*{
    padding: 0%;
    margin: 0%;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

body{
    width: 99vw;
    height: 300vh;

    border: 2px solid black;
}

a {
    color: black;
}

.ojt-monitoring-box{
    width: 100%;
    height: 100%;
}

/* Header */
.ojt-monitoring-box header {
    border: 2px solid red;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0;
    height: 80px;
    font-size: 0.55vw;
    text-transform: uppercase;
}

.ojt-monitoring-box header .user-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 21%;
}

.ojt-monitoring-box header .user-box h1{
    width: 90%;
}

.ojt-monitoring-box header .user-box .user-profile-box{
    width: 20%;
    height: 80%;
    border-radius: 100%;
}

.ojt-monitoring-box header .user-box .user-profile-box img{
    width: 100%;
    height: 100%;
}

/* Navigation-Dashboard-Announcements */
.nav-dash-notice-box{
    display: flex;
    height: 100%;
    width: 100%;
}

/* Navigation Bar */
.nav-dash-notice-box nav{
    border: 2px solid red;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 15%;
    height: 90%;
    padding: 2.5% 0 3.5%;
}

.nav-dash-notice-box nav .nav-links{
    border: 2px solid red;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
    font-size: 1.1vw;
    text-transform: uppercase;
}

.nav-dash-notice-box nav .exit-box{
    border: 2px solid red;
    width: 20%;
    height: 7%;
    align-self: center;
}

.nav-dash-notice-box nav .exit-box img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Dashboard */
.nav-dash-notice-box .dashboard-box{
    border: 2px solid blue;
    width: 65%;
    height: 100%;
    padding: 2.5% 3% 3%;
}

.nav-dash-notice-box .dashboard-box .info-notice-box{
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
}

.nav-dash-notice-box .dashboard-box .info-notice-box .dashboard-title{
    border:2px solid green;
    
    margin-bottom: 3%;
    text-transform: uppercase;
    font-size: 1.5vw;
}

.nav-dash-notice-box .dashboard-box .info-notice-box .dashboard-info-box{
    border: 2px solid violet;

    height: 1000px;
}

.nav-dash-notice-box .dashboard-box .info-notice-box .dashboard-info-box 
.image-box{
    border: 2px solid red;

    height: 60px;
}

.nav-dash-notice-box .dashboard-box .info-notice-box .dashboard-info-box 
.adviser-name{
    border: 2px solid blue;

    display: flex;
    justify-content: center;
    height: 100px;
    align-items: end;
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: 400;
}







/* Announcements */
.nav-dash-notice-box .notice-box{
    border: 2px solid green;
    width: 20%;
}

