
html,
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 100%;
    background-color: rgb(228, 228, 228);
}

/* HEADER
*/
header {
    font-size: 12px;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0464;
    /* Dark purple color */
    color: #E1AD0F;
    padding: 10px 20px;
}

.nav-name {
    margin-left: auto;
    margin-right: 15px;
    font-weight: bold;
    font-size: 12px;
}

.nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #777673;
    /* Yellow color for the circle */
    border-radius: 50%;
    margin-right: 40px;
    width: 30px;
    /* Adjust as necessary */
    height: 30px;
    /* Adjust as necessary */
}

#profile-image {
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 50%;
    /* Makes the image round */
}

/* HEADER
*/


/* HEADER
*/
header {
    font-size: 12px;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0464;
    /* Dark purple color */
    color: #E1AD0F;
    padding: 10px 20px;
}

.nav-name {
    margin-left: auto;
    margin-right: 15px;
    font-weight: bold;
    font-size: 12px;
}

.nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #777673;
    /* Yellow color for the circle */
    border-radius: 50%;
    margin-right: 40px;
    width: 30px;
    /* Adjust as necessary */
    height: 30px;
    /* Adjust as necessary */
}

#profile-image {
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 50%;
    /* Makes the image round */
}


/* MAIN
*/

.container {
    display: flex;
    flex-direction: row;
    height: 120vh;
    /* This will make the aside appear on the right */
}

section {
    flex: 2.5;
    /* This will allow the section to fill the remaining space */
    /* Add styling for the section here */
}



/*LEFT COLUMN*/
.left-nav {
    width: 15%;
    background-color: white;
    height: 120vh;
}

.left-nav .material-symbols-outlined:hover {
    cursor: pointer;
}

.container ol {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    list-style: none;
    text-align: justify;
    margin-top: 50px;
}

.container li {
    margin-left: -10px;
    margin-right: auto;
    display: block;
}


.left-nav .material-symbols-outlined {
    transform: scale(4);
    height: auto;
    margin: 50px;
    color: #0D0464;
}

.left-nav form {
    margin-top: 30%;
}

#logoutbutton {
    border-radius: 20px;
    padding: 2.5% 5.8% 2.5%;
    border: 2px solid #0D0464;
    color: #0D0464;
    background-color: #F1F1F1;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.logout-button:hover {
    cursor: pointer;
}

.left-nav a:link {
    color: black;
    text-decoration: none;
}

li:not(:last-child) {
    margin-bottom: 25px;
}

/*LEFT COLUMN*/


/* SECTION MID*/
.main-dashboard {
    width: 100%;
    margin-top: 30px;
}

.main-dashboard .main-dashboard-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
}

.main-dashboard .main-dashboard-title {
    font-weight: 600;
    margin-bottom: 15px;
}

.main-dashboard .intern-details {
    width: 100%;
    background: white;
    height: 50vh;
    border-radius: 40px;
    margin-bottom: 20;

}

.main-dashboard .intern-details .details .adviser-name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #0D0464;
    text-align: center;

}

.yellow-horizontal {
    width: 30%;
    background-color: #E1AD0F;
    height: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.intern-details .bg-image img {
    object-fit: cover;
    width: 100%;
    height: 40px;
}

.details .db-time-and-date {
    display: flex;
    justify-content: space-around;
    margin-top: -25px;
    margin-left: 90px;
    height: 20%
}

.details .db-time-and-date .dashboard-slu-logo {
    width: 10px;
    margin-left: -10px;
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    margin-bottom: 30px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}


.dashboard-slu-logo img {
    height: 85%;
    margin-left: -10;
}

.dashboard-slu-logo {
    flex: .4;
    height: 200px;
}

.dashboard-time {
    flex: .75;
    margin-top: 10%;
}

.dashboard-date {
    flex: 1;
    margin-top: 10%;
}

.dashboard-time .time-text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}

.dashboard-date .date-text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-right: auto;
    margin-bottom: 10px;

}

#current-time {
    font-weight: 600;
    color: #0D0464;
    font-size: 22px;
}

#current-date {
    font-weight: 600;
    color: #0D0464;
    font-size: 22px;
    width: 90%;
    text-align: left;
}

.intern-details .details {
    margin-bottom: 10%;
}

/* INTERN COUNT*/

.intern-details .intern-count-box {
    display: flex;
    justify-content: space-around;
    margin-top: 12%;
    padding-bottom: 0%;
}

.intern-count-box .pending-students,
.intern-count-box .total-interns,
.intern-count-box .finished-interns {
    background-color: rgb(228, 228, 228);
    width: 20%;
    height: 30%;
    border-radius: 30px;
}


.intern-count-box .count {
    font-family: "PT SANS", sans-serif;
    font-weight: 600;
    color: #0D0464;
    font-size: 10vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.intern-count-box .text {
    font-family: "PT SANS", sans-serif;
    font-size: 11px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.filtering .filtering-fields {
    display: flex;
    justify-content: right;
    margin-right: 93px;
}

#internFilter,
#search-input {
    background-color: #F1F1F1;
    border: none;
    width: 100%;
    font-size: 15px;
    padding: 3% 6% 3%;
    color: #757575;
}

#internFilter, #search-input{
    background-color: #F1F1F1;
    border: none;
    width: 100%;
    font-size: 15px;
    padding: 3% 6% 3%;
    color: #757575;
}

.view-by {
    font-weight: bold;
    margin-right: 60px;
    width: 100px;
    font-weight: bold;
    margin-right: 60px;
    width: 100px;
}

.input-box {
    position: relative;
    height: 30px;
    max-width: 300px;
    width: 100%;
    background: #fff;
    vertical-align: middle;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input-box i,
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i {
    left: 3px;
    font-size: 20px;
    color: #707070;
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 35px 0 25px;
    background-color: transparent;
}

.input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
}

.input-box .button:active {
    transform: translateY(-50%) scale(0.98);
}


.dailyreports tr td:nth-child(5) {
    width: 50px;
}

.intern-list-container {
    width: 80%;
    position: relative;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    height: 32vh;
    padding-bottom: 20px;
}

.intern-table {
    padding: 20px;
}

section .note {
    margin-top: 3%;
    margin-bottom: 10%;
    text-align: center;
}

.intern-table .table-header {
    background-color: rgb(228, 228, 228);
    color: #0D0464;
}

.intern-table {
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 2;
    width: 100%;
}


.tothours {
    text-align: center;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.intern-table tr {
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(228, 228, 228);
}

.intern-table-holder .tr:hover {
    background-color: #0D0464;
}

.table-label-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Aligns items vertically */
    margin: 30px 30px 0 30px;
}


.table-label-filter .title {
    font-weight: bold;
    color: #0D0464;
    margin-top: 20px;
    font-size: 20px;
}

.table-label-filter .filter {
    margin-top: 25px;
    color: #0D0464;
    font-size: 12px;
}

.table-data:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.intern-page {
    position: relative;
    display: block;
    margin-left: auto;
}

.intern-page .buttons {
    float: right;
    margin: 10px 25px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons .pagenums {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 9px;
}

.buttons .pageNumber {
    margin-left: 4px;
    font-weight: bold;
    left: -10px
}

.buttons #back-page:hover {
    cursor: pointer;
}

.buttons #nextPage:hover {
    cursor: pointer;
}

/* END OF INTERN LIST*/

/* SECTION MID*/


/* right column*/
.third-column {
    flex: 1;
}

.announcement-column {
    margin-top: 30px;
    height: 120vh;
}

.announcement-column .announcement-title {
    font-weight: 600;
    margin-bottom: 15px;
}

.announcement-container {
    background-color: white;
    min-height: 95%;
    margin-right: 30px;
}

.announcement-box {
    padding: 30px;
}

.announcement-box-recipient {
    margin-bottom: 20px;
    font-style: italic;
}

.announcement-container .scroll-container {
    overflow-y: scroll;
    height: 100vh;
}


.announcement-container .announcement-box-title {
    color: #0D0464;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.announcement-container .announcement-box-date {
    font-size: 16px;
    margin-bottom: 10px;
}

.announcement-container .announcement-box-content {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: justify;
}

.announcement-container .announcement-box-x {
    display: block;
    margin-left: auto;
    border: none;
}

.announcement-box-x input {
    border: none;
    background-color: white;
    color: red;
    font-size: 20px;
}

.announcement-box-title a {
    display: block;
    margin-left: auto;
}

.announcement-box-x input:hover {
    cursor: pointer;
}

.announcement-container .gray-horizontal-divider {
    height: 1px;
    width: 100%;
    background-color: #777673;
}

.button-options .cancel-post-button {
    background-color: #e92c1e;
    border-radius: 80px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    padding: 7px 20px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-options .create-post-button {
    background-color: #024708;
    border-radius: 80px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    padding: 7px 20px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-options a {
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.announcement-column .create-post-button {
    background-color: #024708;
    border-radius: 80px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    padding: 7px 20px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.announcement-column .create-post-button:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.create-post-button a {
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

/* END OF right column*/

/* MAIN
*/

/*ANNOUNCEMENT POP UP*/
.create-post-button {
    background-color: #024708;
    border-radius: 80px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    padding: 7px 20px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.recipients {
    display: flex;
    flex-direction: row;
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: block;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(3px);
    visibility: hidden;
    transition: all 0.5s;
}

.content .confirmation-text {
    text-align: center;
}

.modalConfirmation {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: block;
    z-index: 1000;
    top: 0;

    left: 0;
    background-color: transparent;
    backdrop-filter: blur(3px);
    visibility: hidden;
    transition: all 0.5s;
}

.modalConfirmation .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25);
    width: 40%;
    height: 220px;
    padding-bottom: 40px;
    background-color: #fff;
    background-size: cover;
    box-shadow: 10px 10px 30px black;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s 0.2s;
    display: flex;
    flex-direction: column;
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25);
    width: 40%;
    height: 85%;
    padding-bottom: 40px;
    background-color: #fff;
    background-size: cover;
    box-shadow: 10px 10px 30px black;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s 0.2s;
    display: flex;
    flex-direction: column;
}

.content_info_holder {
    background-color: white;

    margin-top: 50px;
    height: 80%;
    padding-left: 50px;
    padding-right: 50px;
}

.content_info_holder .header {
    margin-bottom: 10px;
    font-weight: bold;
    color: #0D0464;
    display: flex;
}

.content_info_holder .header .material-symbols-outlined {
    color: black;
}

.content_info_holder .header .text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content_info_holder .title {
    font-weight: bold;
    color: black;
}

.content_info_holder select {
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(228, 228, 228);
}

.content .interns-placeholder {
    margin-top: 20px;
    height: 80%;
    overflow-y: scroll;
}

.content .intern-row,
.content .intern-row-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 20px;
    
}


.content .intern-row,
.content .intern-row-checkbox img {
    height: 40px;
    width: 70px;
}

.content .intern-row,
.content .intern-row-checkbox .intern-details {
    margin-left: 20px;
    margin-bottom: 20;
}

.intern-details .intern-name {
    color: #0D0464;
    font-weight: bold;
}

.intern-details .companyaddress {
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
}

.intern-details .companyname {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    align-items: center;
    /* This will vertically center the items */
}

.popUpConfirmation {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: block;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(3px);
    visibility: hidden;
    transition: all 0.5s;
}

.button-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cancel-button a {
    text-decoration: none;
    color: black;
}

.modal_header {
    font-size: 42px;
    text-align: center;
    margin-top: 100px;
    color: white;
}

.content h4 {
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    margin: 15px 0;
}

.modal_button,
.content p {
    font-family: sans-serif;
    font-size: 14px;
    text-align: justify;
    color: black;
    margin: 15px 0;
}

.modal:target {
    opacity: 1;
    visibility: visible;
}

.modal:target .content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


.modalConfirmation:target {
    opacity: 1;
    visibility: visible;
}

.modalConfirmation:target .content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


.close,
.close:link,
.close.visited {
    color: #ccc;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 13px;
    font-size: 2rem;
    display: inline-block;
    line-height: 1;

    transition: all 0.2s;
}

.close:hover {
    color: red;
}



.content .horizontal-gray-ruler {
    height: 1px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin: 20px 0px 24px 0px;
}


.pop-up-subject {
    width: 100%;
}


.content .content-holder-subject {
    width: 100%;
    margin-top: 10px;
    background-color: rgb(228, 228, 228);
    resize: none
}

.content .content-holder-description {
    width: 100%;
    margin-top: 10px;
    background-color: rgb(228, 228, 228);
    resize: none;
}

.content .filter .rec-option-anchor {
    text-decoration: none;
    color: black;
}

.filter {
    display: flex;
    align-items: center;
}

.content .filter .rec-option-text {
    display: inline-flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.input-wrapper {
    display: inline-flex;
    justify-content: space-between;
}

.status-box {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8%;
}

.status-box img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*ANNOUNCEMENT POP UP*/
.popup-scrollable {
    height: 80%;
    overflow-y: auto;
    /* Enables vertical scrolling */
}

.display-input {
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/* POPUP CONTAINER */
.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F1F1F1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    width: 70%;
    height: 80%;
    border-radius: 15px;
    /* Adjust as needed */
    padding: 2%;
    /* Adjust as needed */
    box-sizing: border-box;
}

/* Close button styling */
.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    /* Adjust as needed */
    color: black;
}

/* Overlay styling */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9000;
}

.button-holder {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#addRequirementButton {
    background-color: #62af69;
    border-radius: 80px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    padding: 7px 20px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: none;
}

#addreqbtn {
    text-decoration: none;
    color: white;
}

.save-btn {
    background-color: #024708;
    border-radius: 80px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 20px;

    padding: 7px 20px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: none;
    display: none;
}



/* Requirements box styling */
.requirements-box {
    margin: 1% auto;
    /* Center the box */
    background-color: #FFFFFF;
    width: 96%;
    /* Adjust as needed */
    height: auto;
    /* Adjust to be auto or based on content */
}

.requirements-box h2 {
    color: #0D0464;
}

/* Table styling */
.requirements-box table {
    width: 100%;

    border-collapse: collapse;
    table-layout: fixed;
}

.requirements-box table th {
    background-color: #F1F1F1;
}

.requirements-box table th,
.requirements-box table td {
    text-align: center;
    font-size: .9vw;
    border-bottom: 1px solid grey;
    /* Add a grey line below each row */
}

.requirements-box table th {
    border-bottom: none;
    height: 5%;
    width: auto;
}

.requirements-box table td {
    justify-content: center;
    align-items: center;
}

.requirements-box table td:nth-child(1) h4 {
    font-weight: 100;
}

/* Header container styling to align items in the center */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* This will align the studentName and report links vertically */
    padding: 0 30px;
    /* Adjust padding as needed */
}

.intern-profile-container  {
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

/* Student name styling */
#studentName {
    color: #0D0464;
    /* This will push the report links to the end */
}

td .desc {
    width: 10px;
}

.desc {
}

td {
    max-width: 200px; /* Set a maximum width for the column */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease; /* Add a transition for smooth effect */
  }
  
td:hover {
    white-space: pre-line;
    word-wrap: break-word;; /* Set to 'normal' to allow multiline text */
    overflow: visible; /* Show the entire content */
    text-overflow: clip; /* Clip the text without ellipsis on hover */
  }

.intern-profile-container {
    display: flex;
    flex-direction: column;
}

.view-profile{
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color:#0D0464;
}

/* Links container styling */
.report-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.report-links ol {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.report-links li {
    margin-right: 20px;
    white-space: nowrap;
}

/* Style for the active link */
.report-links a.active {
    font-weight: bold;
    color: blue;
    border-bottom: 2px solid blue;
    /* Blue underline for the active link */
}

.report-links li:last-child {
    margin-right: 0;
}

/* Hover effect for links */
.report-links a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.no-pending-msg {
    text-align: center;
    color: #0D0464;
    font-weight: bold;
    font-size: 35px;
}



/*ICON */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


/* FOOTER */

.footer {
    background-color: #0D0464;
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
    height: auto;
}

.footer .text {
    font-weight: 600;
    color: white;
}