<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="styles-jd.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="nav-logo">SAINT LOUIS UNIVERSITY</div>
            <div class="nav-name"> ALBERT JANNSEN RAMOS</div>
            <div class="nav-item">

            </div>
        </nav>
    </header>
    <main>
        <aside class="left-nav">
            <ol>
                <li><a href="#">DASHBOARD</a></li>
                <li><a href="#">PENDING</a></li>
                <li><a href="#">ABOUT US</a></li>
            </ol>

            <img src="../" alt="">
        </aside>
        <div class="left"></div>


    </main>

</body>

</html>