#announcement-pop-up.modal
  .content(style='background-image: url(/Resources/Pictures/steps-lourdes2.jpg)')
    a.close(href='#main') &Cross;
    .content_info_holder
      .header ANNOUNCEMENT
      .filter
        select#intern-filter
          option(value='ALL') TO ALL
          option(value='')
          option(value='')
          option(value='')
      .horizontal-gray-ruler
      .pop-up-subject
        .title SUBJECT
        // populate with subject txt
        textarea#description-text-area.content-holder(name='subject-text' cols='30' rows='3')
        .horizontal-gray-ruler
        .title DESCRIPTION
        textarea#description-text-area.content-holder(name='description-text' cols='30' rows='10')
      button.create-post-button(type='button')
        a(href='#main') POST
