
<div class="modal" id="announcement-pop-up">
  <div class="content" style="background-image: url(/Resources/Pictures/steps-lourdes2.jpg)"><a class="close" href="#main">&Cross;</a>
    <div class="content_info_holder">
      <div class="header">ANNOUNCEMENT</div>
      <div class="filter">
        <select id="intern-filter">
          <option value="ALL">TO ALL</option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
      </div>
      <div class="horizontal-gray-ruler"></div>
      <div class="pop-up-subject">
        <div class="title">SUBJECT</div>
        <!-- populate with subject txt-->
        <textarea class="content-holder" id="description-text-area" name="subject-text" cols="30" rows="3"></textarea>
        <div class="horizontal-gray-ruler"></div>
        <div class="title">DESCRIPTION</div>
        <textarea class="content-holder" id="description-text-area" name="description-text" cols="30" rows="10"></textarea>
      </div>
      <button class="create-post-button" type="button"><a href="#main">POST</a></button>
    </div>
  </div>
</div>